body, html {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  	position:fixed;
  	inset:0;
	margin: 0;
	padding: 0;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
	}

div.vcenter {
	height: 97vh;
	display: flex;
	justify-content: center;
	}

div.pixel2-wrapper {
	display: inline-block;
	width: auto;
	height: 100%;
	position: relative;
	}

div.pixel2-wrapper > img {
	height: 100%;
	width: auto;
	display: block;
	}

div.screen-content {
	position: absolute;
	inset: 22.90% 14.50% 25% 13.45%;
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	}

.jsm-bot-info, .jsm-status-navbar, .jsm-messenger-flash, .jsm-chat-progress-indicator, .jsm-input-message {
	display:none;
	}
